<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Weather Rest API</title>
</head>
<body>
    <h1>WEATHER DATA API</h1>
    <p>Enter url Format for an Particular Station for Particular Date: http://127.0.0.1:5000/api/v1/station/date</p>
    <i><p>Example Format for an Particular Station for Particular Date: http://127.0.0.1:5000/api/v1/10/1998-10-25</p>
    </i>
    <p>Enter url Format for an Particular Station Throughout Years: http://127.0.0.1:5000/api/v1/station</p>
    <p>Enter url Format for an Particular Station for Particular Year: http://127.0.0.1:5000/api/v1/station/yearly/year</p>
    <i><p>Example Format for an Particular Station for Particular Year: http://127.0.0.1:5000/api/v1/10/yearly/1988</p>
    </i>
    <h3><strong>For Testing Purpose Only 100 Stations Data are Used in this App.</strong>
    </h3>
    <p>{{data|safe}}</p>
    <a href="/">Home Page</a>
</html>